<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>xxxxxxxx</webname>
  <weburl>www.xxxx.com</weburl>
  <weblogo />
  <webcompany />
  <webaddress />
  <webtel />
  <webfax />
  <webmail>judy.zhu@montagut-pen.com</webmail>
  <webcrod />
  <webcopyright>xxxxxxx</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>qiju123</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>aspx</staticextension>
  <memberstatus>0</memberstatus>
  <membergroupstatus>0</membergroupstatus>
  <memberpointstatus>0</memberpointstatus>
  <memberlevelstatus>0</memberlevelstatus>
  <memberamountstatus>0</memberamountstatus>
  <memberavatarstatus>0</memberavatarstatus>
  <memberoauthstatus>0</memberoauthstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <smsnavtxt>user_sms_template</smsnavtxt>
  <smsstatus>0</smsstatus>
  <paymentnavtxt>order_payment</paymentnavtxt>
  <paymentstatus>0</paymentstatus>
  <invitedstatus>0</invitedstatus>
  <watermarkstatus>0</watermarkstatus>
  <mailstatus>1</mailstatus>
  <mailnavtxt>user_mail_template</mailnavtxt>
  <orderstatus>0</orderstatus>
  <ordernavtxt>sys_orders</ordernavtxt>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <feedbackmailtxt>884087601@qq.com</feedbackmailtxt>
  <feedbackmailstatus>1</feedbackmailstatus>
  <feedbackmailtitle>在线留言</feedbackmailtitle>
  <feedbacktemplate>&lt;table border="0" cellpadding="0" cellspacing="0"&gt;
    &lt;tbody&gt;

        &lt;tr&gt;
            &lt;td&gt;
                姓名：
            &lt;/td&gt;
            &lt;td&gt;
                {name}
            &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;
                电话：
            &lt;/td&gt;
            &lt;td&gt;
                {tel}
            &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;
                邮箱：
            &lt;/td&gt;
            &lt;td&gt;
                {mail}
            &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;
                内容：
            &lt;/td&gt;
            &lt;td&gt;
                {msg}(在线留言)
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</feedbacktemplate>
  <smsapiurl>http://sms.qi-ju.com/httpapi/</smsapiurl>
  <smsusername />
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>465</emailport>
  <emailfrom>884087601@qq.com</emailfrom>
  <emailusername>884087601@qq.com</emailusername>
  <emailpassword>63909078B937F0D8ABB613921F1A7203BC9CE6310DA9AA6D</emailpassword>
  <emailnickname>在线留言</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,flv,doc,xls,txt,mp4,pdf</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>2048</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>企炬中国</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>qj_</sysdatabaseprefix>
  <sysencryptstring>QJcms</sysencryptstring>
</siteconfig>