<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="QJcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="QJcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="search" type="other" page="search.aspx" inherit="QJcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="search1" type="list" page="search1.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="search.html" channel="search">
    <item path="search1.aspx" pattern="search1.aspx" />
  </rewrite>
  <rewrite name="product" type="list" page="product.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="product.html" channel="product">
    <item path="product.aspx" pattern="product.aspx" />
  </rewrite>
  <rewrite name="product_lb" type="list" page="product_lb.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="product.html" channel="product">
    <item path="product_lb-{0}.aspx" pattern="product_lb-(\d+).aspx" querystring="category_id=$1" />
    <item path="product_lb-{0}-{1}.aspx" pattern="product_lb-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="products" type="detail" page="products.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="products.html" channel="product">
    <item path="products-{0}.aspx" pattern="products-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case" type="list" page="case.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="case.html" channel="case">
    <item path="case.aspx" pattern="case.aspx" />
  </rewrite>
  <rewrite name="case_lb" type="list" page="case_lb.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="case.html" channel="case">
    <item path="case_lb-{0}.aspx" pattern="case_lb-(\d+).aspx" querystring="category_id=$1" />
    <item path="case_lb-{0}-{1}.aspx" pattern="case_lb-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="cases" type="detail" page="cases.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="cases.html" channel="case">
    <item path="cases-{0}.aspx" pattern="cases-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news" type="list" page="news.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="news.html" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_lb" type="list" page="news_lb.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="news.html" channel="news">
    <item path="news_lb-{0}.aspx" pattern="news_lb-(\d+).aspx" querystring="category_id=$1" />
    <item path="news_lb-{0}-{1}.aspx" pattern="news_lb-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="newss" type="detail" page="newss.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="newss.html" channel="news">
    <item path="newss-{0}.aspx" pattern="newss-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="contact" type="list" page="contact.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="contact.html" channel="danye">
    <item path="contact.aspx" pattern="contact.aspx" />
  </rewrite>
  <rewrite name="message" type="list" page="message.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="message.html" channel="danye">
    <item path="message.aspx" pattern="message.aspx" />
  </rewrite>
  <rewrite name="about" type="list" page="about.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="about.html" channel="danye">
    <item path="about.aspx" pattern="about.aspx" />
  </rewrite>
</urls>